@use "../../partials/mixins" as *;

.app__laurels_awards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; //content can be in more than one line

  margin-top: 3rem;

  &-card {
    width: 100%;
    flex: 1; //each card takes one space
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 14.375rem;

    margin: 1rem 0;

    @include tablet {
      min-width: 14.375rem;
    }
    @include desktop {
      min-width: 24.375rem;
    }

    & img {
      width: 3.125rem;
      height: 3.125rem;
    }

    &_content {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }
  }
}
