@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typographys" as *;

.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-black;
  padding: 1rem 2rem;

  &-logo {
    @include tablet {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    & img {
      width: 6.875rem;
      @include tablet {
        width: 9.375rem;
      }
    }
  }

  &-links {
    display: none;

    @include tablet {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      & li {
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
          color: $color-grey;
        }
      }
    }
  }

  &-login {
    display: none;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    & a {
      margin: 0 1rem;
      text-decoration: none;
      transition: 0.5s ease;
      &:hover {
        border-bottom: 1px solid $color-golden;
      }
    }
    & div {
      width: 1px;
      height: 30px;
      background-color: $color-grey;
    }
  }

  &-smallscreen {
    display: flex;

    &_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: $color-black;
      transition: 0.5s ease;

      flex-direction: column;
      z-index: 5; //overlay is over the actrual page

      & .overlay__close {
        font-size: 27px;
        color: $color-golden;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    &_links {
      list-style: none;

      & li {
        margin: 2rem;
        cursor: pointer;
        color: $color-golden;
        font-size: 2rem;
        text-align: center; // like words doc 中线对齐
        font-family: $font-base;
        &:hover {
          color: $color-white;
        }
      }
    }
  }
}
