@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.app__aboutus {
  position: relative; //able to move the overlay around

  &-overlay {
    position: absolute;
    inset: 0; //not often used; used when position is abslute and it can easily correspond to top bottom or right left (come on top of the content)

    & img {
      width: 80%;
      height: 25rem;
      object-fit: contain;

      @include tablet {
        width: 24.4375rem;
        height: 25.9375rem;
        z-index: 0;
      }

      // z-index: 0; //G go behind the content
    }
  }
  &-content {
    width: 100%;
    z-index: 2; //content above G
    flex-direction: column;

    @include tablet {
      flex-direction: row;
    }

    &_about {
      flex: 1; //push it to the right side
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;

      text-align: right;

      & p {
        margin: 2rem 0;
        color: $color-grey;
        @include desktop {
          margin: 4rem 0;
        }
      }
    }

    &_knife {
      margin: 2rem 4rem;

      @include tablet {
        margin: 4rem 4rem;
      }

      & img {
        height: 910px;
      }
    }
    &_history {
      flex: 1; //push it to the right side
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      text-align: left;

      & p {
        margin: 2rem 0;
        color: $color-grey;
      }
    }
  }
}
